* {
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3rem;
}

header {
  border-right: 2px solid gray;
  padding: 1rem;
}

header h1 {
  font-style: italic;
  color: skyblue;
  font-size: 45px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
button {
  color: white;
  border: none;
  width: 40%;
  padding: 0.5rem;
  background-color: orange;
  font-size: 15px;
  text-align: left;
}

.update-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.submit-btn {
  width: 25%;
}
.image-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.image-container img {
  width: 20%;
}

ul li {
  list-style-type: none;
  text-align: left;
}
.customer-reviews ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.customer-reviews ul li {
  padding: 5px;
  background-color: orange;
  border-radius: 5px;
}
